/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #80FFFF;   /* background color */
	color: #000000;          /* text color for the entire page */
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 500;
  	font-style: normal;
  	font-variation-settings:
    	"wdth" 100;
}

#header {
  	font-family: "Rosarivo", cursive;
  	font-weight: 900;
  	font-style: normal;
}

h1 {
	font-size: 300%;
	padding-top: 30px;
	margin: 0px;
}

h1, h2 { 
	text-align:center;		/* centers h1 and h2 content */
	color: #000000;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

.material-icons {
	color: #000000;
	font-size: 3em;
}

.warning {
	background-color: #80FFFF;
	padding: 10px;
	border-radius: 20px;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	padding-left: 2.5%;
	text-align:left;
	background-color:#FFFF80;
	font-weight: bold;
	font-size: 150%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
 }

.stepContent{ 
	background-color: white;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

.stepDescription {
	width:50%;
	padding: 0%;
	padding-right: 5%;
	line-height:150%;
}

.stepImage {
	width:40%;	
	padding-top: 1.25%;
	padding-bottom: 1.25%;
	text-align: center;
}

.stepImage img {
    width:100%;
    height:auto;
	border-radius: 20px;
	box-shadow:0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

strong {
  font-weight: 800;
}