@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFB6C1;
	text-align: center;
}

#title {
	font-size: 150%;
	margin: 30px;
}

#menu {
	background-color: #502800;
	text-align: center;
	padding: 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#menu a {
	background-color: #502800;
	color: white;
	text-decoration: none;
	font-size: 200%;
	padding: 20px 20px;
}

#current {
	background-color: #502800;
	color: black;
}

#menu a:hover {
	background-color: white;
	color: #280050;
}

#wrapper {
	width: 85%;
	background-color: white;
	color: black;
	align-content: center;
	margin: 0 auto;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 20px;
}

h2 {
	background-color: #502800;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
}

ul {
	text-align: left;
}

table, tr, td {
	border: 3px solid black;
	border-collapse: collapse;
}


